body {
background: black; 
}
ul {
list-style-type: square;
color: white;
text-align: center; 
}
h1{
text-align: center;
color: white;
}
h6 {
text-align: center;  
color: white;
}
p {
text-align: center;
color: white
}
li {
text-align: left;
color: white;
}
hr {
text-align center;
color: white;
}
img {
width: 175px; 
height: 175px; 
border: 8px white; 
margin: 10px;  
}

